:root{
    --body-color:white;
    --banner-img-color:pink;
    --home-landing-color: whitesmoke;
    --event-container: rgba(255, 255, 255, 0.3);
}
body{
    background-color:var(--body-color);
    font-family:arial;
}

.layout-container{
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

/* general layout containers */
.home-large-container,
.home-tablet,
.match-banner-container,
.sidebar-main-container {
  display: flex;
  margin: 10px;
}

/* tablet*/
.home-tablet {
  align-items: flex-start;
  flex-direction: column;
}
.section-title{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 6%;
}

#events1
,#events2{
    margin: 10px;
}
.event-mentor p{
    margin: 0px 0px 30px 0px;
}
.section-title h2 {
  margin: 5px;
}
.home-tablet > .match-banner-container {
  width: 100%;
  padding: 4px;
}
.home-tablet > .individual-match-banner img {
  height: 80%;
  width: 80%;
}

/* desktop layout content area */
.home-content {
  display: flex;
  flex-direction: column;
  width: 75%;
  background-color:var(--home-landing-color);
  border-radius:12px;
}

/* sidebar */
.sidebar-main-container {
  flex-direction: column;
  align-items: center;
  width: 20%;
  position:relative;
  left: 0;
  top: 10px;
  height: 80vh;
}

.sidebar-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  height: 40%;
}

.sidebar-title h3,
.sidebar-title h4 {
  margin: 5px;
  text-align: center;
}

/* sidebar links */
.sidebar-links {
  width: 100%;
}

.sidebar-link-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar-link-ul li {
  width: 100%;
  height:30px;
}

.sidebar-link-ul li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
  margin: 5px 20px;
  text-decoration: none;
  color: inherit;
  height: 40px;
}

.sidebar-link-ul li a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.sidebar-link-ul li a img{
    margin: 0px 10px;
}

/* mentor profile banner */
.match-banner-container {
  justify-content: space-evenly;
  background-color:var(--event-container);
  width: 100%;
  padding: 3px;
}

.individual-match-banner {
  margin: 5px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.individual-match-banner img{
    border: 2px solid gray;
}
.sidebar-img {
  width: 100px;
  height: 100px;
}

.individual-match-banner img,
.sidebar-img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}


/* events container formatting*/
.events-container, .my-matches-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr); /* 3 equal-width columns */
    grid-gap: 15px 10px; 
    
}
.my-matches-container{
    width: 80%;
    margin-top: 25px;
    
    
}
/*formatting for each individual container for the events (has three different div sections)*/
.event-container{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    padding: 7px;
    border-radius: 18px;
    background-color:var(--event-container);
    border-radius: 12px;
    
}
.event-content{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.event-text{
    width: 90%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* holds the "learn more" button for event cards*/
.event-text a{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 40px;
    border-radius:12px;
    border:1px solid whitesmoke;
    text-align: center;
    text-decoration:none;
    cursor:pointer;
    color:inherit;
    box-shadow: 5px 3px 3px #555;

}
.event-img {
    width: 90%;
    height: 200px;
}
.event-img img{
    width:100%;
    height:100%;
}

.match-info-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    padding: 4px;
    background-color:var(--home-landing-color);
}

.matched-img{
    width: 40%;
    height:90%;
}
.matched-img img{
    width:100%;
    height:100%;
}
.matched-right{
    width: 50%;
    margin-left: 20px;
    padding: 6px;

}
.matched-name h1, .matched-position h4{
    margin: 0;
}
.matched-contact{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction:wrap;
    width: 100%;
}
a{
    text-decoration: none;
    color:inherit;
}


/* for calendar effect*/
/*holds all information for the event*/
.event-container-cal{
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction:row;
  width: 90%;
  margin-top: 16px;
  padding: 5px;
  height:auto;
}
/* holds the date and month for event box*/
.event-left{
  width: 20%;
  height: 100%;
  padding: 8px 10px;
  text-align: center;
  background-color: #969696;
}

.event-day{
  font-size: 32px;
}
/*holds information about location and eventLocation*/
.event-right{
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  width: 75%;
  padding: 8px;
  margin: 5px 10px;
}
.event-location{
  font-size: 20px;
  font-weight:600;
  width: 100%;
  padding: 3px;
}
.event-host-site{
  padding: 3px;
  font-size: 14px;
}

.match-title h2{
    text-align: center;
}

.swipe-section {
  perspective: 1000px;
}

.mentor-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  user-select: none;
}

.mentor-card img {
  width: 80%;
  height: 220px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.mentor-card p{
    margin:0;
}

.my-mentors ul {
  padding-left: 20px;
}

.next-card {
  z-index: 0;
}

.top-card {
  z-index: 0;
}

.swipe-btn {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 5px;
    cursor:pointer;
}
.swipe-btn.like{
    background-color:green;
}

.swipe-btn.like-active {
  transform: scale(1.3);
  box-shadow: 0 0 20px 5px rgba(27, 206, 72, 0.6);
  border-radius: 50%;
}

.swipe-btn.dislike-active {
  transform: scale(1.3);
  box-shadow: 0 0 20px 5px rgba(255, 0, 0, 0.6);
  border-radius: 50%;
}
.event-text a:hover{
    background-color:#fffff9;
}




@media (max-width: 768px){
    .match-banner-container{
        overflow-x:scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .match-banner-container::-webkit-scrollbar {
        display: none; 
    }
    .events-container, .my-matches-container{
        display:grid;
        grid-template-columns: repeat(1, 1fr); /* 3 equal-width columns */
        grid-gap: 15px 10px; 
    }
    .event-container-cal{
        width: 100%;
        align-items:center;
    }
    .event-right{
        justify-content: center;
    }
    .event-lorem p, .event-button{
        font-size: 14px;
    }
    .match-info-container{
        flex-direction:column;
        width:80%;
        margin: 20px;
    }
    .matched-right{
        width: 100%;
    }
    .matched-img{
        width: 100%;
        height: 80%;
    }
    .event-location{
        font-size: 17px;
        font-weight:600;
        width: 100%;
        padding: 0;
    }
    .event-host-site{
        padding: 0px;
        font-size: 15px;
    }
    .event-day{
        font-size: 36px;
    }

}